$smallTablet: 768px;
$large: 992px;
$extraLarge: 1200px;
.login-container {
	min-height: 100vh;
	width: 100%;
	background: url('../../assets/images/adrian-infernus-GLf7bAwCdYg-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	h3 {
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 2px;
		color: #274c77;
		font-family: 'Poppins', sans-serif;
	}

	#signInContainer {
		width: 100%;
		min-height: 50vh;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		padding: 2rem;

		#login-button {
			border-radius: 1.25rem;
			background-color: #274c77;
			border: 0px;
			padding: 1rem 0rem;
		}

		#login-google-btn {
			border-radius: 1.25rem;
			border: 1px solid #274c77;
			color: #274c77;
			padding: 1rem 0rem;
		}
		#login-google-btn:hover {
			background-color: #274c77;
			color: white;
		}
	}
}
@media screen and (min-width: $smallTablet) and (max-width: $large) {
	.login-container{
		#signInContainer{
			width:90%;
		}
	}
	
}
@media screen and (min-width: 993px) and (max-width:1200px) {
	.login-container{
		#signInContainer{
			width:80%;
		}
	}

}
@media screen and (min-width:1201px){
	.login-container{
		#signInContainer{
			width:45% !important;
		}
	}

}

@media(orientation:landscape){
	.login-container{
		#signInContainer{
			width:90%;
		}
	}
}
