$mobile:576px;
$smallTablet: 768px;
$large:992px;
$extraLarge:1200px;


.landing-container{
   min-height: 100vh;
    width: 100%;
   background-color: #1B065E;
   color: #E7ECEF;
   font-family: 'Poppins', sans-serif;
     display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       #contents{
        #hero-title{
            background: url('../../assets/images/collaborate.jpg'),rgba(0,0,0,0.5);
            background-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            h1{
                width: 100%;

            }
       h3,h5{
        font-weight: 300;
       }
       
       #signin{
        width: 14rem;
        padding: 1rem 0rem;
       }
    }
       #landing-points.card.border-light{
        background: transparent !important;
        border:0px;
        width:100%;
       }
    }
    
   
       @media screen and (min-width:$smallTablet) and (max-width:$large){
       #landing-contents{
        width: 50%;
        h1{
            font-size: 3rem;
        }
            #site-title{
                font-size: 7rem;
            }
        }
       

       }
       @media screen and (min-width:993px){
      
        #contents{
            #hero-title{
                align-items: flex-start !important;
                h1{
                    width:75%;
                }
                #signin{
                    width: 18rem;
                }
            }
            #landing-points-container{
               justify-content: center !important;
            #landing-points.card.border-light{
                width: 32% !important;
            }
        }
            
        }
       
        
       

    }

}
